*.FCStd1
*.gcode
*.zip
*.pdf
*.*~
Código/Código_ESP_IDF/build/
Código/Código_ESP_IDF/.vscode/
Código/Código_ESP_IDF/.devcontainer/
Código/Código_ESP_IDF/.cache/
Código/InterfazGráfica/Interfaz \GTK/Makefile
Código/InterfazGráfica/Interfaz \GTK/.cache/
Código/InterfazGráfica/Interfaz \GTK/cmake_install.cmake
Código/InterfazGráfica/Interfaz \GTK/CMakeCache.txt
Código/InterfazGráfica/Interfaz \GTK/CMakeFiles/
Código/InterfazGráfica/Interfaz \GTK/build/
Código/InterfazGráfica/Interfaz \GTK/compile_commands.json
Documentacion/.obsidian/
ideas/
