*.FCStd1
*.gcode
*.zip
*.*~
Código_ESP_IDF/build/
Código_ESP_IDF/.vscode/
Código_ESP_IDF/.devcontainer/
Código_ESP_IDF/.cache/
ideas/
InterfazGráfica/Interfaz \GTK/Makefile
InterfazGráfica/Interfaz \GTK/.cache/
InterfazGráfica/Interfaz \GTK/cmake_install.cmake
InterfazGráfica/Interfaz \GTK/CMakeCache.txt
InterfazGráfica/Interfaz \GTK/CMakeFiles/
Documentacion CAE32/.obsidian/
InterfazGráfica/Interfaz \GTK/build/
InterfazGráfica/Interfaz \GTK/compile_commands.json
