*.FCStd1
*.gcode
*.zip
*.pdf
*.*~
**/compile_commands.json
/Core/
/Debug/
**/Drivers/
**/Middlewares/
Codigo/Firmware/Main_board_HID/ESP32-S3/build/
Codigo/Firmware/Main_board_HID/ESP32-S3/main/build/
Codigo/Firmware/Main_board_HID/ESP32-S3/main/.cache/
Codigo/Firmware/Main_board_HID/ESP32-S3/.cache/
Codigo/Firmware/Main_board_HID/ESP32-S3/.vscode/
Codigo/Firmware/Main_board_HID/ESP32-S3/.devcontainer/
Codigo/Firmware/Main_board/build/
Codigo/Firmware/Main_board/.vscode/
Codigo/Firmware/Main_board/.devcontainer/
Codigo/Firmware/Main_board/.cache/
Codigo/Interfaz_grafica/Interfaz_gtk/.cache/
Codigo/Interfaz_grafica/Interfaz_gtk/cmake_install.cmake
Codigo/Interfaz_grafica/Interfaz_gtk/CMakeCache.txt
Codigo/Interfaz_grafica/Interfaz_gtk/CMakeFiles/
Codigo/Interfaz_grafica/Interfaz_gtk/build/
Codigo/Interfaz_grafica/Interfaz_gtkcompile_commands.json
Documentacion/.obsidian/
ideas/
